* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.border {
  border: 0px solid black;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
}
nav .logo {
  font-size: 20px;
  text-transform: uppercase;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav .nav-links li a {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
nav .social-links li a {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
nav .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 10%;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: tomato;
  margin: 5px;
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  /* nav .nav-links
    {
        display: none;
    } */
  nav .social-links {
    display: none;
  }
  .nav-links {
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 50%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  nav .nav-links li a {
    color: white;
  }

  .nav-active {
    transform: translateX(0);
  }

  .cross div:nth-child(1)
  {
    transform: rotate(45deg) translate(6px,5px);
  }
  .cross div:nth-child(2)
  {
    display: none;
  }
  .cross div:nth-child(3)
  {
    transform: rotate(-45deg) ;
  }
  .hamburger:focus
  {
    outline: none;
  }

}

